@use 'main';

.landing-title {
    color: main.$primary-color;
    font-size: 60px;
}

.text-section {
    max-width: 600px;
    min-width: 100px;
    color: main.$black-color;
    width: auto;
    margin-left: 2rem;
}

.button-section {
    max-height: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: -3rem;
}

.landing-text {
    font-size: 40px;
}

.landing-page {
    max-height: 40rem;
    min-height: 20rem; 
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing {
    min-height: 30rem; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-button {
    margin-left: 5rem;
}

.landing-img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}