@use 'main';

.navbar {
    color: #E9EAFE;
    height: 4rem;
    background-color: main.$white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-center {
    color: main.$black-color;
    width: auto;
    min-width: 25rem;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.navbar-front {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-end {
  width: 30rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}