a {
    text-decoration: none !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19rem;
}

h1 {
    margin: 0px;
    padding: 0px;
}