@use 'main';

.front-section {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: main.$white-color;
    width: auto;
    min-width: 50rem;
    padding: 2rem;
}

.whyus-container {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    h1 {
        font-size: 50px;
    }
}

.text {
    width: auto;
    max-width: 30rem;
}

.img-shield {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}